<form [formGroup]="nestedForm">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>X1</h2>
        </div>
    </div>
    <br>
    <div class="row" formArrayName="X1">
        <div class="col-6" *ngFor="let group of X1.controls; let i = index;" [formGroupName]="i">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-8">
                  <h4>Y{{i+1}}</h4>
                </div>
                <div class="col-4 control-buttons">
                  <input type="button" class="btn" value="+" (click)="addAddress1()">
                  <input type="button" class="btn" value="-" (click)="removeAddress1(i)">
                </div>
              </div>
              <hr>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="addText">Enter Name :</label>
                <input type="text" formControlName="name" placeholder="Enter Name" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
            <h2>X2</h2>
        </div>
    </div>
    <br>
    <div class="row" formArrayName="X2">
        <div class="col-6" *ngFor="let group of X2.controls; let i = index;" [formGroupName]="i">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-8">
                  <h4>Y{{i+1}}</h4>
                </div>
                <div class="col-4 control-buttons">
                  <input type="button" class="btn" value="+" (click)="addAddress()">
                  <input type="button" class="btn" value="-" (click)="removeAddress(i)">
                </div>
              </div>
              <hr>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="addText">Enter Name :</label>
                <input type="text" formControlName="name" placeholder="Enter Name" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <button type="button" (click)="submitHandler(nestedForm.value)" class="btn btn-primary">Submit</button>
</div>
<br>
<br>
</form>